.vs/
.vscode/
obj/
bin/
Properties/
Backup*/
*.user
*.suo
*.userosscache
*.log
*.sln.docstates
*.pidb
*.svclog
*.scc
*.dll
*.exe
*.pdb
*.mdb
*.cache
*.bak
*.swp
*~.dbmdl
*.dbproj.user
*.cache
*.bak
*.swp
*.user
*.userosscache
*.dbmdl
*lasso
/publish/
*.generated.cs
*.exe.config
*.pfx
*.publishsettings
*.nupkg
**/packages/*
!**/packages/build/
*.edmx
/node_modules/
*.tmp
*.swp
*.bak
*.mdf
*.ldf
